<!DOCTYPE html>
<html lang="en" ng-app="Heatmap">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WiFind - Mapping WiFi Coverage in NYC</title>

    <!-- Scripts for Heatmaps -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/index.js"></script>  
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="Ctrl" class="ng-scope">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">Menu
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">WiFi<FONT COLOR="#acbbe3">nd</FONT></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#currentmap">THE MAP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gettingapp">WIFIND APP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">THE TEAM</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h7 class="brand-heading">WiFi<font color="#BAC6E5">nd</font></h7>
                        <p class="intro-text">WiFind visualizes the strength of Wi-Fi signals in New York City as displayed on the map below. <br>Enter a network name and click the ‘Show Data’ button to view all data for that network.</p>
                        <br>    
                        <a href="#currentmap" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Map Section -->
    <section id="currentmap" class="container map-section text-center">
         <div class="col-lg-8 col-lg-offset-2">
             <div class="row">
                 <h2>The Map</h2>
             </div>
         </div>
         <div class="row" id="toolbar">
         <form class="form-inline">
             <div class="form-group">
                 <h8 for="SSID"> NETWORK NAME: </h8>
                 <input class="form-control" type="text" ng-model='params.ssid' placeholder="Enter Network Name" list="SSIDs" name="SSID" onfocus="this.value='';">
                 <datalist id="SSIDs">
                    <option value="attwifi">
                    <option value="CablewiFi">
                    <option value="eduroam">
                    <option value="nyu">
                    <option value="nyuguest">
                    <option value="NYU-ROAM3">
                    <option value="optimumwifi">
                    <option value="TWCWiFi">
                    <option value="TWCWiFi-Passpoint">
                    <option value="xfinitywifi">
                    <option value="DowntownBrooklynWiFi_Fon">
                    <option value="@smartwifi-open">
                    <option value="@smartwifi-passpoint">
                 </datalist>
                 <h7>&nbsp;&nbsp;&nbsp;</h7>
                 <h8 for="aggregation">AGGREGATION FUNCTION:</h8>
                 <select name="aggregation" class="form-control" ng-model="params.aggregation">
                     <option value="median" selected="selected">Median</option>
                     <option value="mean">Mean</option>
                     <option value="max">Max</option>
                 </select>
                 <h7>&nbsp;</h7>
             </div>
             <button class="btn btn-default" ng-click="execute()">Show Data</button>
         </form>
    </div>
    </section>
     
    
    <div id="map"></div>
    <img src="img/legend.png" class="img-fluid" width="100%" id="colorbar">
    <section class="container map-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
             <div class="row">
                 <h8 class="figure-caption">SIGNAL STRENTH (dBm)</h8>
                 <br>
                 <h8><FONT COLOR="#E1E1FF">▇</FONT>: LOCATIONS MAPPED</h8>
             </div>
        <br><br>
        <div class="row">
                <p>The map above shows the intensity of Wi-Fi signals (collected in decibel-milliwatts, dBm) at various locations based on the current data we have collected. -90 dBm (shown in blue) is the value for the poorest signal and -30 dBm (shown in red) is the value for the strongest signal. </p>
                <p>To use this map, simply type in the name of the network you want to show then choose an aggregation function and click the "SHOW DATA" button. You can then pan and zoom the map to see different areas or more detail.</p>
                <p>There are three aggregation functions available to choose from. Choosing "Median" will show you the median value of signal strengths at each location. Similary, choosing "Max" or "Average" will give you the maximum or average value of signal strengths at each location.</p>
            </div>
          </div>
    </section>
         
    

    
    <!-- App Section -->
    <section id="gettingapp" class="content-section text-center">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>WiFi<FONT COLOR="#acbbe3">nd</FONT> App</h2>
                    <p>The data is crowdsourced from people like you! Our Android mobile application measures and records the signal strength of Wi-Fi networks around you as you  move through the city. Simply install the app and leave it running in the background.</p>
                    <p>The application is currently not listed on the Google Play store.  To install it, first on your phone navigate to Settings > Security > enable 'Unknown sources'. Then click on the link below to download.  Then open the file and install. Make sure to enable both Wi-Fi and Location on your phone.</p>
                    <a href="https://build.phonegap.com/apps/2025209/download/android/?qr_key=rLwXCvJfGdJSHdKanQyE" class="btn btn-default btn-lg">Download App</a>
                </div>
            </div>
    </section>   
    
        
    
    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About WiFind</h2>
                <p>This project seeks to visualize the prevalence of Wi-Fi coverage throughout New York City to understand accessibility levels citywide. Using our Android mobile app, users can record the signal strength of Wi-Fi networks around them as they move through the city.</p>
                <p>Our hope is to provide data that could be put to use in a wide array of academic and social purposes, ranging from visualizing digital equality to finding the closest open Wi-Fi network.</p>
                <p>The project team is from <a href="http://cusp.nyu.edu">NYU CUSP</a>, a university-wide research center focusing on urban systems and urban informatics. We aim to use data analytics to understand complex urban systems and ultimately improve the quality of life of the people living in cities throughout the world.</p>
            </div>
        </div>
    </section>
    
    
    <!-- Team Section -->
    <section id="team" class="team-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="http://jeremyneiman.com">
                        <img src="img/team/jeremy.jpg" class="img-responsive img-circle" alt="Jeremy Neiman">
                        <h4>Jeremy Neiman</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="http://www.brunchline.co">
                        <img src="img/team/dan.jpg" class="img-responsive img-circle" alt="Dan Quasney">
                        <h4>Dan Quasney</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="http://yunongcao.github.io/">
                        <img src="img/team/yunong.jpg" class="img-responsive img-circle" alt="Yunong Cao">
                        <h4>Yunong Cao</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="https://github.com/tianyigu">
                        <img src="img/team/tianyi.jpg" class="img-responsive img-circle" alt="Tianyi  Gu">
                        <h4>Tianyi Gu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="https://github.com/AlanPolson">
                        <img src="img/team/alan.jpg" class="img-responsive img-circle" alt="Alan Polson">
                        <h4>Alan Polson</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="https://github.com/ManushiM">
                        <img src="img/team/manushi.jpg" class="img-responsive img-circle" alt="Manushi Majumdar">
                        <h4>Manushi Majumdar</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="http://cusp.nyu.edu/people/charlie-mydlarz/">
                        <img src="img/team/charlie.jpg" class="img-responsive img-circle" alt="Charlie Mydlarz">
                        <h4>Charlie Mydlarz</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <a href="http://www.justinsalamon.com/">
                        <img src="img/team/justin.jpg" class="img-responsive img-circle" alt="Justin Salamon">
                        <h4>Justin Salamon</h4>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
         
         
    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p>Please email us to provide some feedback on our project, give us suggestions for new feautures. This is an open source project, feel free to check out our code at Github.</p>
                    <p><a href="mailto:wifindproject@nyu.edu">wifindproject@gmail.com</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/wifimapping" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>     
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>This project emerged from 2015 capstone project team in <a href="http://cusp.nyu.edu/">NYU CUSP</a>.</p>
            <p>Advisors: <a href="http://cusp.nyu.edu/people/charlie-mydlarz/">Dr. Charlie Mydlarz</a>, <a href="http://www.justinsalamon.com/">Dr. Justin Salamon</a></p>
            <p>Special thanks to Hakan Cinar for his contribution to data collection</p>
            <br>
            <p>Copyright © WiFind 2016</p>
        </div>
    </footer>
    
    </body>

    <!-- Dropdown -->
    <script src="bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
    
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="bower_components/jquery.easing/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    

    <script>
        //webshim.setOptions('basePath', '/js-webshim/minified/shims/');

        //request the features you need:
        webshim.polyfill('forms es5');
    </script>
    
    <script> 
        $(function(){
            // work with the HTML5 API
            $('input:invalid').each(function(){
                $(this).after( $.prop(this, 'validationMessage') );
            });
            // ...
        });
    </script>
    
    <!-- Webshim & Jquery bug fix -->
    <script>
        jQuery.swap = function( elem, options, callback, args ) {
            var ret, name, old = {};
            // Remember the old values, and insert the new ones
            for ( name in options ) {
                    old[ name ] = elem.style[ name ];
                    elem.style[ name ] = options[ name ];
            }

            ret = callback.apply( elem, args || [] );

            // Revert the old values
            for ( name in options ) {
                    elem.style[ name ] = old[ name ];
            }
            return ret;
        };
    </script>
    
    
</html>
